TaskAllocationGenerator/Connected Services/LocalGreedyService/GreedyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Files" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Files" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49779/GreedyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" />
  <xs:complexType name="ConfigurationFile">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" minOccurs="0" name="LimitData" nillable="true" type="q1:Limits" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" minOccurs="0" name="LocalCommunicationInfo" nillable="true" type="q2:LocalCommunication" />
      <xs:element minOccurs="0" name="LogFilename" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" minOccurs="0" name="ProcessorTypes" nillable="true" type="q3:ArrayOfProcessorType" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" minOccurs="0" name="Processors" nillable="true" type="q4:ArrayOfProcessor" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" minOccurs="0" name="Program" nillable="true" type="q5:ProgramInfo" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" minOccurs="0" name="RemoteCommunicationInfo" nillable="true" type="q6:RemoteCommunication" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" minOccurs="0" name="Tasks" nillable="true" type="q7:ArrayOfTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationFile" nillable="true" type="tns:ConfigurationFile" />
</xs:schema>