TaskAllocationGenerator/Connected Services/LocalGreedyService/GreedyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaskAllocationUtils.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63260/GreedyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Allocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Energy" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MapMatrix" nillable="true" type="q1:ArrayOfArrayOfstring" />
      <xs:element minOccurs="0" name="ProcessorAllocations" nillable="true" type="tns:ArrayOfAllocationProcessor" />
      <xs:element minOccurs="0" name="Runtime" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Allocation" nillable="true" type="tns:Allocation" />
  <xs:complexType name="ArrayOfAllocationProcessor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllocationProcessor" nillable="true" type="tns:AllocationProcessor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllocationProcessor" nillable="true" type="tns:ArrayOfAllocationProcessor" />
  <xs:complexType name="AllocationProcessor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Allocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Download" type="xs:int" />
      <xs:element minOccurs="0" name="RAM" type="xs:int" />
      <xs:element minOccurs="0" name="Upload" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllocationProcessor" nillable="true" type="tns:AllocationProcessor" />
</xs:schema>